<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <% if @user.ratings.empty? %>
      has made no ratings
  <% else %>
      <%= "Has made #{pluralize(@user.ratings.count, 'rating')}, average #{@user.average_rating}" %>

    <h2>ratings</h2>

    <ul>
      <% @user.ratings.each do |rating| %>
          <li> <%= rating.to_s %> <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <% end %>
    </ul>
  <% end %>
</p>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
